.text-white {
    color: #fff;
}

.h1 {
    font-size: 48px;
}


#startBtn {
    font-size: 24px;
    margin-top: 200px;
}


.svgCanvas {
    border: solid 1px
}


/* State Choropleth */
.state {
    stroke: #fff;
    stroke-width: 1;
}

.tooltip {
    opacity: 0;
    position: absolute;
    background-color: white;
    border: solid;
    border-width: 2px;
    border-radius: 5px;
    padding: 5px;
}

/* State Cholopalth Legend */
.legend_title {
    font-size: 12px;
    color: rgb(170, 170, 170);
    text-align: center;
    font-weight: bold;
    position: relative;
    top: 15px;
}

.state_choropleth_legend {
    position: relative;
    top: 30px;

}
#state_choropleth{
    position: relative;
    top: -70px;
}


/* State Barchart */
.barchart {
    position: relative;
    top: -50px;
}

.bar {
    fill-opacity: 0.8;
}

#state_barchart>svg {
    text-align: center;
}

.axis text {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

label,
input[type=checkbox] {
    cursor: pointer;
}

.checkbox_text {
    position: relative;
    top: -2px;
}

.s2cold {
    margin-top: 80px;
}




.s3cont {
    padding-top: 7%;
}



/* Stacked bar chart */
#stacked_chart {
    margin-top: 25%;
}

#stacked_chart_legend {
    display: inline-block;
    position: absolute;
    top: 100px;
    right: 30px;
}

.legend-item {
    margin: 5px;
    font-size: 12px;
    align-items: center;
    text-align: left;
}

.legend-item div {
    display: inline-block;
}

/* Switch */
.switch_dimension {
    position: absolute;
    top: 70px;
    right: 200px;
}

.type_of_job{
    font-size: 18px;
}



/* Map using api */
#map1,#map2 {
    width: 600px;
    height: 48%;
}
#map2{
    margin-top: 10px;
}

.text-left{
    text-align: left !important;
}
